:root {
  box-sizing: border-box;
  font-size: calc(1vw + .6em);
}

*,
::before,
::after {
  box-sizing: inherit;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

/** Mobile Version **/
@media screen and (max-width: 480px) {
  :root {
    font-size: 16px;
  }
  
  .container {
    max-width: 300px;
    margin-top: 15vh;
  }
}

/** Tablet Version **/
@media screen and (max-width: 800px) {
  .container {
    margin-top: 15vh;
  }
}

/** Header **/
h1 {
  font-size: 2rem;
  font-family: 'Just Another Hand', cursive;
}

/** Quote **/
.quote {
  min-height: 120px;
  padding: 1em;
  border-top: 2px solid;
  border-bottom: 2px solid;
  margin-bottom: 1em;
}

.quote__text {
  font-family: 'Open Sans', sans-serif;
  margin-top: 0;
  padding: .5em;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
}

.quote__author {
  margin-top: 10px;
  margin-bottom: 0;
  min-height: 20px;
  font-weight: 600;
  font-style: italic;
  font-size: 0.875rem;
  text-align: right;
}

/** toolbar **/
.toolbar {
  text-align: center;
  margin-bottom: 8em;
}

/** Button & Link **/
.btn, .btn:active, .btn:focus, .btn:visited,
.link, .link:active, .link:focus, .link:visited
{
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: 1em;
  cursor: pointer;
  outline: 0;
  transition: background-color .2s ease-in,
              color .2s ease-in;
}

.btn:hover, .link:hover {
  background-color: #fff;
  color: #000;
}

.link-twitter, .link-whatsapp, .link-freeCodeCamp {
  padding: .3em .4em;
}

.link-freeCodeCamp {
  text-decoration: none;
}

.btn-get {
  font-size: 0.875rem;
  padding: .3em .5em;
}

/** Footer **/
footer {
  font-size: 0.75rem;
  text-align: center;
}

footer > .copyright{
  display: block;
  margin-top: 2em;
  text-align: center;
}

/** Utillities**/
.float-right {
  float: right;
  margin-right: .5em;
}

.float-left {
  float: left;
  margin-left: .5em;
}
